<hr>
<footer class="container">
    <small class="active">  &copy; stoneniqiu 2016</small>
</footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>