<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>