



<% include header.ejs %>


  <div class="hero-unit">
    <h1>移动KKK</h1>
    <h1>Hello World! </h1>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-success btn-large " href="/reg">注册</a>
    <a class="btn btn-primary btn-large" href="/test">测试</a>
    <a class="btn btn-primary btn-large" href="/test2">测试2</a>
    <a class="btn btn-success btn-large " href="/picture/upload">上传</a>
    <a class="btn btn-primary btn-large" href="/picture/listpic">图片列表</a>
  </div>


<% include footer.ejs %>